/target
mapScraper/__pycache__
mapScraper/venv
mapData/sourceData
simulation_states
checkpoints
*.log
aiSimulator/temp.md
aiSimulator/renderer/node_modules
aiSimulator/renderer/data
Cargo.lock
package-lock.json
node_modules
renderer/node_modules
renderer/package-lock.json